.cl{
    width:80%;
    height:80%;
    margin:auto;
    position:relative;
}

.main-box{
    border:1px solid #000;
    border-radius: 5px;
    height:600px;
    align-items: center;
    position: relative;
}
.main-box video{
    position: absolute;
    width:100%;
    height:600px;
    top:-50px;
    margin-top: 10px;
}
.myvid{
    position: relative;
    top:-125px;
    float:right;
    width: 150px;
    height: 200px;
    margin-right: 5px;
    /* border: 2px solid red; */
}

.myvid video{
    height:110px;
    position: relative;
    top:600px;
    /* border:2px solid red; */

}


